.card-container{
    width: 100%;
    background-color: var(--color-primary);
 
    padding:2rem 5rem 5rem;
    color: var(--color-white);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    
}

.card{
    
    background-color: var(--color-primary-light);
    width: 100%;

    height: 50.6rem;

    border-radius: 2rem;
    padding: 4rem;

    position: relative;

}

.card-content{
    z-index: 2;
}


/* formataçao dos cards por tamanho */

/* ============================= card medio =========================== */

.card.small{

    background-color: var(--color-secondary);
    max-width: 30%;
    margin: 1rem;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.card.small .card-items{
    display: flex;

    width: 100%;
    max-height: 100%;
}

.card.small h4{
    color:rgba(255, 255, 255, .6);

    padding:1rem ;
    padding-left:0 ;

    margin-bottom: 1rem;
}

.card.small h2{
    font-size: 3rem;
    padding:0 .2rem 1rem;
}

.card.small p{
    font-size: 2rem;
   margin-top: 1rem;
   
    
}

.card.small .card-img{
    max-height: 30rem;
    height:100%;

    grid-area: a;
    align-self: flex-end;

}

.card.small .card-img img{
    width: 100%;
    height: 100%;
     
 }


/* ============================= card medio ===========================*/
.card.medium{
    
    max-width: 65%;
    margin: 1rem;
    
    display: flex;
    flex-direction: column;

   
}

.card.medium .card-content{
    width: 60%;
}

.card.medium h4{
    color:rgba(255, 255, 255, .2);

    padding:1rem;
}

.card.medium h2{
    font-size: 3rem;
    padding:2rem 0 ;
}

.card.medium p{
    font-size: 2rem;
    max-width: 90%;
    
}

.card.medium .card-img{
    max-width: 50rem;
    width:50%;

    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.card-img img{
   width: 100%;
   height: 100%;
    
  
}


/* ========================== card grande ====================*/ 
.card.large{
    width: 96.5%;
    max-width: 144rem;
    font-size: 2.5rem;
    margin:1rem; 

    
}

.card.large p{
    padding: .6rem 2rem .2rem;
}

.card.large h4{
    color:rgba(255, 255, 255, .2);

    padding:1rem 2rem 5rem ;
}

.card.card.large h2{
    font-size: 3rem;
    padding:0 2rem .2rem;
}

.card.card.large p{
    font-size: 2rem;
    max-width: 50%;
}

.card.large .card-img{
    max-height: 30rem;
    height: 90%;    
   
   

    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 5%;
}
.card.large .card-img img{
    width: 100%;
   height: 100%;
    
}

@media (min-width:1440px) {

    .card-container{
        flex-direction: column;
        flex-wrap:nowrap;  
    }


    /* ============ card pequeno ==========*/

    .card.small {
        
        width: 96.5%;
        max-width: 144rem;
        font-size: 2.5rem;
        margin:1rem; 
        height: 50.6rem;
    }


    /* ============ card medio ==========*/
    .card.medium{
        width: 96.5%;
        max-width: 144rem;
        font-size: 2.5rem;
        margin:1rem; 
        height: 50.6rem;
    }


    /* ============ card grande ==========*/
}

@media (max-width:900px) {
    
    .card.small{
        width: 100%;
        max-width: 100%;
    }

    .card.medium {
        width: 100%;
        max-width: 100%;
    }

    
}


@media (max-width:500px) {
    .card.small, .card.medium, .card.card.large{
        max-width: 65%;
        margin: 1rem;
        
        display: flex;
        flex-direction: column;

    }
}