footer {
	background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	color: white;

	padding: 2rem 7rem;
	font-size: 1.4rem;
}

footer .upper {
	display: flex;
	justify-content: space-between;
}

footer .upper .columns {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

footer .upper .columns .column {
	margin-right: 5rem;
}
footer .upper .columns .column strong {
	display: block;
	margin-bottom: 0.5rem;
}

footer .upper .columns .column ul {
	list-style: none;
}

footer .upper .social-media a {
	text-decoration: none;
	color: var(--color-secondary);
	transition: all 300ms ease;
	padding: 0.5rem;
	border-radius: 1rem;
}

footer .upper .social-media a:hover {
	background-color: white;
	color: var(--color-primary);
}

footer .bottom {
	margin-top: 7rem;
	display: flex;
	justify-content: space-between;
}

footer .bottom ul > li {
	display: inline-block;
	margin-right: 1rem;
}
