.list-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5rem;
}

.list-item {
	width: 47%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.list-item > span {
	font-size: 6rem;
	color: var(--color-secondary);
}

.list-texts-container {
	margin-left: 20px;
}

.list-texts-container > span {
	display: block;
	color: var(--color-secondary);
	font-weight: bold;
	font-size: 1.9rem;
}

.list-texts-container > p {
	font-size: 1.5rem;
	text-align: justify;
}
