* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--color-primary: #111112;
	--color-sencodary: #2f9e41;
	--color-tertiary: #cd191e;
	--color-gray: #e3e3e3;
	--color-white: #f9f9f9;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
